<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dav/Documents/Java/demo_regression_tests-main">
        <groups>
            <run>
                <include name="smokeTest"/>
                <include name="regressionTest"/>
            </run>
        </groups>
        <classes>
            <class name="tests.MainPageTests"/>
            <class name="tests.MainRegressionTests"/>
        </classes>
    </test>
</suite>